<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @editor_name %>,</p>
    <p>
      An error occured when publishing your website, <%= @website_name %>.
    </p>
    <p>
      Please try publishing it again. If the error persists, contact me to diagnose the problem.
    </p>
    <p>Thanks,</p>
    <p>Sharon at Nomadic Labs</p>
  </body>
</html>