<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @editor_name %>,</p>
    <p>
      Your website, <%= @website_name %>, has been successfully published.
    </p>
    <p>
      To see your changes, visit your website and do a hard refresh to clear any cached content on the pages you edited.
    </p>
    <p>Cheers,</p>
    <p>Sharon at Nomadic Labs</p>
  </body>
</html>